Code/.ipynb_checkpoints/*
Code/__pycache__/*

Data/synth-data-02-N2000.npy
Data/CVAE_diffs_mean-02-N1000.npy
Data/synth-data-02-N1000.npy
Data/synth-data-05-N1000.npy
Data/CVAE_diffs_mean-02-N2000.npy
Data/synth-data-02.npy
Data/synth-data-05-N2000.npy
Data/CVAE_diffs_mean-03.npy
Data/synth-data-03-N1000.npy
Data/CVAE_diffs_mean-05.npy
Data/synth-data-03-N2000.npy
